// Global
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
	font-family: 'Roboto Regular';
	font-size: 1.6rem;
	letter-spacing: 0;
	line-height: 1.3;
	overflow-x: hidden;
	background: $gray;
}

html {
	font-size: 62.5%;
}

ul {
	list-style: none;
	padding: 0;
	margin: 2rem 0;

	li {
		text-decoration: none;
		margin-bottom: 1rem;
		&::before {
			content: '';
			display: inline-block;
			width: 5px;
			height: 5px;
			border-radius: 50%;
			background: $primary;
			vertical-align: middle;
			margin-right: 1rem;
		}
	}
}

p {
	margin: 0;
}

h1,
h2,
h3 {
	margin: 0;
}

a {
	text-decoration: none;
	color: black;
	transition: color .35s ease;


	&:hover {
		color: $secondary;
	}


	&:focus {
		color: purple;
	}

	&:active {
		color: purple;
	}
}

.container {
	width: 1500px;
	max-width: 2000px;
	margin: 0 auto;
}

.container-fluid {
	width: 100%;
	max-width: 2000px;
	margin: 0 auto;
}

// text ALign
.text-center {
	text-align: center !important;
}

.text-left {
	text-align: left !important;
}

.italic {
	font-style: italic;
}
.uppercase {
	text-transform: uppercase;
}

// Text color
.text-primary {
	color: $primary;
}


.text-secondary {
	color: $secondary;
}

.text-yellow {
	color: $primary;
}

.text-gray {
	color: $gray;
}

.text-white {
	color: $white;
}


// Font weight
.font-bold {
	font-family: 'Roboto Bold';
}

// Display
.d-none {
	display: none;
}

.d-block {
	display: block;
}

.d-inline-block {
	display: inline-block !important;
}

.d-flex {
	display: flex;
}

//Flex
.justify-content-between {
	justify-content: space-between;
}

.justify-content-center {
	justify-content: center;
}

.align-items-center {
	align-items: center;
}

.align-items-start {
	align-items: flex-start;
}

.v-align-middle {
	vertical-align: middle;
}

// Position
.p-relative {
	position: relative !important;
}

.p-absolute {
	position: absolute !important;
}

