// Font
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

// Variables
$white: #ffffff;
$black: #282828;
$light-gray: #e6e6e6;
$light-blue: #edeef0;
$gray: #c3c7d0;
$primary: #061e57;
$secondary: #be1b26;


// Mixins
@mixin break-max($length) {
	@media (max-width: $length) {
		@content;
	}
}

@mixin break-min($length) {
	@media (min-width: $length) {
		@content;
	}
}

@mixin bg($url, $size:cover, $position: center) {
	background-image: url($url);
	background-size: $size;
	background-repeat: no-repeat;
	background-position: $position;
}