@import "normalize";
@import "utilities";
@import "global";
@import "nav";

//Main Body
main {
    padding: 60px 0;
}

.section-1 {
    .title {
        background: $secondary;
        padding: 1rem 2rem;
    }
}
