@import "normalize";
@import "utilities";
@import "global";
@import "nav";

//Main Body
main {
    padding: 60px 0;
}

.section-1 {
    .title {
        background: $secondary;
        padding: 1rem 2rem;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 2rem 0;

        li {
            text-decoration: none;
            margin-bottom: 1rem;

            &::before {
                content: '';
                display: inline-block;
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background: $primary;
                vertical-align: middle;
                margin-right: 1rem;
            }
        }
    }

    .row {
        margin-top: 3rem;

        .content {
            width: 50%;
            font-family: 'Roboto', sans-serif;
            font-weight: 500;

        }

        .image-wrap {
            width: 50%;
            padding-left: 3rem;

            img {
                width: 100%;
                display: block;
                border-radius: 2rem;
            }
        }
    }
}

// Section 2
.section-2 {
    margin-top: 10rem;

    .tab {
        position: relative;
        background: $primary;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        letter-spacing: .1rem;
        display: inline-block;
        cursor: pointer;
        transition: all .3s ease-in;
        // border-bottom: 50px solid $primary;
        // border-right: 40px solid transparent;
        // height: 0;
        padding: 2rem 5rem 2rem 2rem;

        // span {
        //     position: absolute;
        //     display: inline-block;
        //     width: max-content;
        //     left: 35%;
        //     top: 15px;
        //     //transform: translate(-50%,-50%);

        // }

        &::after {
            content: '';
            width: 0;
            height: 0;
            border-bottom: 61px solid $gray;
            border-right: 30px solid transparent;
            position: absolute;
            transform: rotate(180deg);
            right: 0;
            top: 0;
        }

        &:hover {
            color: $white;
            background: $secondary;
        }
    }

    .dropdown-wrap {
        padding: 5rem;
        background: $light-blue;
        transition: all .3s ease-in-out;

        h2 {
            margin-bottom: 2rem;
        }

        h3 {
            margin: 2rem 0;
        }

        .data-group {
            display: none;
        }
    }

    .dropdown-wrap .image-wrap {
        img {
            width: 50%;
            padding: 1.5rem;
        }
    }

    .table-wrap {
        margin-top: 4.5rem;
    }
}

//Hide Radio
input[type=radio] {
    display: none;
}



input[type=radio]#tabOne:checked~.dropdown-wrap {
    #dataOne {
        display: block;
    }
}

input[type=radio]#tabTwo:checked~.dropdown-wrap {
    #dataTwo {
        display: block;
    }
}

input[type=radio]#tabThree:checked~.dropdown-wrap {
    #dataThree {
        display: block;
    }
}

input[type=radio]#tabOne:checked~#labelOne {
    background: $secondary;
    color: $white;
}

input[type=radio]#tabTwo:checked~#labelTwo {
    background: $secondary;
    color: $white;
}

input[type=radio]#tabThree:checked~#labelThree {
    background: $secondary;
    color: $white;
}

// Table
table,
th,
td {
    padding: 2rem;
}

table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
    text-align: left;

    thead {
        background: $primary;
        color: $white;
    }

    tbody {

        th,
        td {
            border: 1px solid $gray;
            color: lighten($primary, 20%);
            background: $white;
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
        }
    }
}


// Footer
footer {
    .footer {
        font-size: 1.8rem;
        background: $white;
        padding: 3.5rem 0;

        a {
            display: block;
        }

        .col:first-child {
            padding-right: 4rem;
            border-right: 1px solid $light-gray;
        }

        .col:nth-child(2) {
            padding-left: 4rem;
            border-left: 1px solid $light-gray;
        }
    }

    .copy-right {
        padding: 3.2rem;
        background: $secondary;
    }
}